PORT=3000
API_TOKEN=super-secret-token
MINIO_END_POINT=127.0.0.1
MINIO_PORT=9100
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=assetlink-images
PUBLIC_BASE_URL=http://localhost:3000
